repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: libheif/(mingw-w64-libheif|aom-musl|libde265)/.*
    -   id: trailing-whitespace
        exclude: libheif/(mingw-w64-libheif|aom-musl|libde265)/.*
    -   id: check-toml
    -   id: mixed-line-ending

-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort

-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    -   id: black

-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        types: [file, python]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
     -  id: mypy
        files: pillow_heif/
        additional_dependencies: [pillow, cffi, pytest]
