ci:
  skip: [pylint]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: libheif/(linux|macos|windows)/
    -   id: trailing-whitespace
        exclude: libheif/(linux|macos|windows)/
    -   id: check-toml
    -   id: mixed-line-ending

-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    -   id: isort

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
    -   id: black

-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.16.0
    hooks:
    -   id: pyproject-fmt

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
    -   id: ruff

-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.51"
    hooks:
    -   id: check-manifest
        args: [--no-build-isolation]

-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint "setup.py" "pillow_heif/"
        language: system
        types: [ python ]
        pass_filenames: false
        args:
            [
                "-rn", # Only display messages
                "-sn", # Don't display the score
            ]
