include README.md
include CHANGELOG.md
include RELEASING.md
include pyproject.toml
include .github/wheels-test.py

recursive-include pillow_heif *.c *.h

graft libheif
graft tests
graft examples

exclude *.yaml
exclude *.yml

prune docs
prune benchmarks

recursive-exclude **/__pycache__ *
