include README.md
include CHANGELOG.md
include pyproject.toml

recursive-include pillow_heif *.c *.h

graft libheif
graft tests
graft examples

exclude *.yaml
exclude *.yml
exclude .cirrus.star

prune ci
prune docs
prune docker
prune benchmarks

recursive-exclude **/__pycache__ *
recursive-exclude pi-heif *
