include README.md
include CHANGELOG.md
include pyproject.toml

recursive-include pillow_heif *.c
recursive-include pillow_heif *.h

graft libheif
graft tests
graft examples

exclude *.yaml
exclude *.yml
exclude CODE_OF_CONDUCT.md
exclude SECURITY.md
exclude renovate.json

prune docs
prune docker

recursive-exclude **/__pycache__ *
