[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "cffi>=1.14.6",
]
# build-backend = "setuptools.build_meta"

[tool.coverage.run]
cover_pylib = true
include = ["*/pillow_heif/*"]
omit = ["*/tests/*"]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "raise NotImplementedError",
    "DeprecationWarning",
    "DEPRECATED"
]

[tool.black]
line-length = 120
target-versions = ["py37"]
preview = true

[tool.isort]
profile = "black"

[tool.pylint]
master.py-version = "3.7"
master.unsafe-load-any-extension = "yes"
design.max-attributes = 9
design.max-locals = 16
design.max-returns = 8
basic.good-names = [
    "a", "b", "c", "d", "e", "f", "i", "j", "k", "v",
    "ex", "_", "fp", "im", "HeifImagePlugin", "AvifImagePlugin",
]
reports.output-format = "colorized"
similarities.ignore-imports = "yes"
messages_control.disable = [
    "missing-class-docstring",
    "missing-function-docstring",
    "line-too-long",
]

[tool.mypy]
ignore_missing_imports = true
warn_no_return = true
strict_optional = true

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = [
    "tests",
]
filterwarnings = [
    "ignore::DeprecationWarning",
]

[tool.cibuildwheel]
build-verbosity = "2"

[tool.cibuildwheel.linux]
test-extras = "tests"
test-command = "pytest -rs {project}"

[tool.cibuildwheel.macos]
before-all = [
    "brew install libjpeg little-cms2",
    "brew install --formula {project}/libheif/macos/libheif.rb",
    "HOMEBREW_PREFIX=$(brew --prefix)",
    "REPAIR_LIBRARY_PATH=$HOMEBREW_PREFIX/lib",
]
repair-wheel-command = [
  "DYLD_LIBRARY_PATH=$REPAIR_LIBRARY_PATH delocate-listdeps {wheel}",
  "DYLD_LIBRARY_PATH=$REPAIR_LIBRARY_PATH delocate-wheel -v --require-archs {delocate_archs} -w {dest_dir} {wheel}",
]
test-extras = "tests"
test-command = "pytest -rs {project}"

[tool.cibuildwheel.windows]
before-build = "pip install delvewheel"
test-extras = "tests"
test-command = "pytest -rs {project}"
