name: Analysis & Coverage

on:
  pull_request:
    branches: [master]
    types: [opened, reopened, edited]
    paths:
      - 'pillow_heif/*.py'
      - 'libheif/*.py'
      - 'setup.*'
      - 'pyproject.toml'
      - 'tests/**'
  push:
    branches: [master]
    paths:
      - 'pillow_heif/*.py'
      - 'libheif/*.py'
      - 'setup.*'
      - 'pyproject.toml'
      - 'tests/**'
  workflow_dispatch:

jobs:
  build-analysis:
    runs-on: ubuntu-latest
    name: Analysis & Coverage
    if: "!contains(github.event.head_commit.message, '[docs]')"
    env:
      BUILD_DIR_PREFIX: "/tmp/pillow_heif"
      KEY_HEAD: analysis-coverage

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: cache-tools
        with:
          path: ${{ env.BUILD_DIR_PREFIX }}/build-tools
          key: ${{ env.KEY_HEAD }}-${{ hashFiles('libheif/*.py') }}

      - uses: actions/cache@v3
        id: cache-libs
        with:
          path: ${{ env.BUILD_DIR_PREFIX }}/build-stuff
          key: ${{ env.KEY_HEAD }}-${{ hashFiles('libheif/*.*') }}

      - name: Install from source
        run: |
          sudo -H python3 -m pip install --upgrade pip
          sudo -H python3 -m pip -v install ".[dev]"

      - name: Pylint Analysis
        run: pylint pillow_heif

      - name: Generate coverage report
        run: coverage run -m pytest && coverage xml && coverage html

      - name: HTML coverage to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: ./htmlcov
          if-no-files-found: error

      - name: Upload report to Codecov
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.xml
          fail_ci_if_error: true
          verbose: true

      - name: Fix cache permissions
        run: sudo chmod -R 777 ${{ env.BUILD_DIR_PREFIX }}
