name: Build from source(Windows)

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: [master]
    types: [opened, reopened, edited]
    paths:
      - 'libheif/windows/**'
      - 'libheif/build.py'
      - 'libheif/public_api.h'
      - 'setup.*'
      - 'pyproject.toml'
  push:
    branches: [master]
    paths:
      - 'libheif/windows/**'
      - 'libheif/build.py'
      - 'libheif/public_api.h'
      - 'setup.*'
      - 'pyproject.toml'

concurrency:
  group: src_windows-${{ github.ref }}
  cancel-in-progress: true

jobs:
  windows_2019:
    name: Windows:2019-x86_64
    runs-on: windows-2019
    env:
      MSYS2_PREFIX: "C:/temp/msys64/mingw64"

    steps:
      - uses: actions/checkout@v3

      - uses: msys2/setup-msys2@v2
        with:
          location: C:/temp
          update: true
          install: >-
            patch
            mingw-w64-x86_64-binutils

      - name: Build libheif and dependencies
        shell: msys2 {0}
        run: |
          cd libheif/windows/mingw-w64-libheif
          makepkg-mingw --syncdeps --noconfirm -f
          pacman -U mingw-w64-x86_64-libheif-*-any.pkg.tar.zst --noconfirm

      - name: Installing Pillow-Heif
        run: python -m pip -v install ".[dev]"

      - name: Copy DLLs from MSYS2
        run: |
          $site_packages=(python -c 'import sysconfig; print(sysconfig.get_paths()[\"platlib\"])')
          cp ${{ env.MSYS2_PREFIX }}/bin/libheif.dll $site_packages/
          cp ${{ env.MSYS2_PREFIX }}/bin/libde265-0.dll $site_packages/
          cp ${{ env.MSYS2_PREFIX }}/bin/libx265.dll $site_packages/
          cp ${{ env.MSYS2_PREFIX }}/bin/libaom.dll $site_packages/
          cp ${{ env.MSYS2_PREFIX }}/bin/libwinpthread-1.dll $site_packages/
          cp ${{ env.MSYS2_PREFIX }}/bin/libgcc_s_seh-1.dll $site_packages/
          cp ${{ env.MSYS2_PREFIX }}/bin/libstdc++-6.dll $site_packages/

      - name: LibHeif info
        run: python -c "import pillow_heif; print(pillow_heif.libheif_info())"

      - name: Perform tests
        run: python -m pytest -rs
