name: From source(Linux)

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    paths:
      - '.github/workflows/test-src-build-linux.yml'
      - 'docker/from_src/*.Dockerfile'
      - 'libheif/linux/**'
      - 'libheif/linux_*.py'
      - 'setup.*'
      - 'pyproject.toml'
      - 'pillow_heif/_pillow_heif.c'
  push:
    branches: [master]
    paths:
      - '.github/workflows/test-src-build-linux.yml'
      - 'docker/from_src/*.Dockerfile'
      - 'libheif/linux/**'
      - 'libheif/linux_*.py'
      - 'setup.*'
      - 'pyproject.toml'
      - 'pillow_heif/_pillow_heif.c'

concurrency:
  group: src_linux-${{ github.ref }}
  cancel-in-progress: true

jobs:
  full_linux:
    name: ${{ matrix.docker_file }}-${{ matrix.arch }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        arch: ["amd64", "arm64", "arm/v7"]
        docker_file: ["Alpine_3_16", "Alpine_3_17", "Alpine_3_18", "Debian_11", "Debian_12", "Ubuntu_22_04"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Requirements
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/from_src/${{ matrix.docker_file }}.Dockerfile
          platforms: linux/${{ matrix.arch }}
          push: false
          cache-from: type=gha,scope=${{ matrix.docker_file }}-${{ matrix.arch }}
          cache-to: type=gha,mode=min,scope=${{ matrix.docker_file }}-${{ matrix.arch }}
          target: base

      - name: Build & Test Pillow-Heif
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/from_src/${{ matrix.docker_file }}.Dockerfile
          platforms: linux/${{ matrix.arch }}
          push: false
          cache-from: type=gha,scope=${{ matrix.docker_file }}-${{ matrix.arch }}
          target: build_test

  ubuntu_22:
    name: LibHeif==1.12.0
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install LibHeif from default repo
        run: sudo apt -y install libheif-dev

      - name: Install from source
        run: python3 -m pip -v install ".[dev]"

      - name: LibHeif info
        run: python3 -c "import pillow_heif; print(pillow_heif.libheif_info())"

      - name: Run Tests
        run: python3 -m pytest
