name: Wheels test • Pi-Heif

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  docker-tests-amd64:
    name: ${{ matrix.i['os'] }} • ${{ matrix.i['ver'] }} • AMD64
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        i: [
          { "os": "amazonlinux", "ver": "latest" },
          { "os": "oraclelinux", "ver": "9" },
          { "os": "fedora", "ver": "37" },
          { "os": "debian", "ver": "11" },
          { "os": "debian", "ver": "12" },
          { "os": "alpine", "ver": "3.21" },
        ]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v5

      - name: Preparing debian
        if: matrix.i['os'] == 'debian' || matrix.i['os'] == 'ubuntu'
        run: |
          echo PREPARE_CMD="apt update" >> $GITHUB_ENV
          echo INSTALL_CMD="apt install -y \
            python3-minimal python3-distutils python3-pip python3-dev python3-venv \
            zlib1g-dev libjpeg62-turbo-dev liblcms2-dev libwebp-dev libfribidi-dev libharfbuzz-dev" >> $GITHUB_ENV

      - name: Preparing musli
        if: matrix.i['os'] == 'alpine'
        run: echo INSTALL_CMD="apk add --no-cache python3 py3-pip py3-pillow py3-numpy" >> $GITHUB_ENV

      - name: Preparing centos
        if: matrix.i['os'] != 'debian' && matrix.i['os'] != 'ubuntu' && matrix.i['os'] != 'alpine'
        run: |
          echo PREPARE_CMD="yum makecache" >> $GITHUB_ENV
          echo INSTALL_CMD="yum install -y python3 python3-pip" >> $GITHUB_ENV

      - name: Build image & Run tests
        run: |
          python3 .github/transform_to-pi_heif.py
          docker buildx build \
            --platform linux/amd64 \
            --build-arg BASE_IMAGE="${{ matrix.i['os'] }}:${{ matrix.i['ver'] }}" \
            --build-arg PREPARE_CMD="${{ env.PREPARE_CMD }}" \
            --build-arg INSTALL_CMD="${{ env.INSTALL_CMD }}" \
            --build-arg TEST_TYPE="export PH_LIGHT_ACTION=1" \
            -f docker/test_wheels.Dockerfile .

  docker-tests-arm64:
    name: ${{ matrix.i['os'] }} • ${{ matrix.i['ver'] }} • ARM64
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        i: [
          { "os": "amazonlinux", "ver": "latest" },
          { "os": "oraclelinux", "ver": "9" },
          { "os": "debian", "ver": "11" },
          { "os": "debian", "ver": "12" },
          { "os": "alpine", "ver": "3.21" },
        ]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v5

      - name: Preparing debian
        if: matrix.i['os'] == 'debian' || matrix.i['os'] == 'ubuntu'
        run: |
          echo PREPARE_CMD="apt update" >> $GITHUB_ENV
          echo INSTALL_CMD="apt install -y \
            python3-minimal python3-distutils python3-pip python3-dev python3-venv \
            zlib1g-dev libjpeg62-turbo-dev liblcms2-dev libwebp-dev libfribidi-dev libharfbuzz-dev" >> $GITHUB_ENV

      - name: Preparing musli
        if: matrix.i['os'] == 'alpine'
        run: echo INSTALL_CMD="apk add --no-cache python3 py3-pip py3-pillow py3-numpy" >> $GITHUB_ENV

      - name: Preparing centos
        if: matrix.i['os'] != 'debian' && matrix.i['os'] != 'ubuntu' && matrix.i['os'] != 'alpine'
        run: |
          echo PREPARE_CMD="yum makecache" >> $GITHUB_ENV
          echo INSTALL_CMD="yum install -y python3 python3-pip" >> $GITHUB_ENV

      - name: Build image & Run tests
        run: |
          python3 .github/transform_to-pi_heif.py
          docker buildx build \
            --platform linux/arm64 \
            --build-arg BASE_IMAGE="${{ matrix.i['os'] }}:${{ matrix.i['ver'] }}" \
            --build-arg PREPARE_CMD="${{ env.PREPARE_CMD }}" \
            --build-arg INSTALL_CMD="${{ env.INSTALL_CMD }}" \
            --build-arg TEST_TYPE="export PH_LIGHT_ACTION=1" \
            -f docker/test_wheels.Dockerfile .

  windows-wheels:
    name: Windows • 2022 • ${{ matrix.python-version }}
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        python-version: ["pypy-3.11", "3.10", "3.11", "3.12", "3.13", "3.14"]
    env:
      PH_LIGHT_ACTION: 1

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: Start-Sleep -s 480
        shell: powershell

      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          python3 -m pip install --prefer-binary pillow
          python3 -m pip install pytest packaging defusedxml
          python3 -m pip install --only-binary=:all: pi-heif

      - name: Test wheel
        run: |
          python3 .github/transform_to-pi_heif.py
          cd .. && python3 -m pytest pillow_heif

  macos-wheels:
    name: macOS • 15-intel • ${{ matrix.python-version }}
    runs-on: macos-15-intel
    strategy:
      fail-fast: false
      matrix:
        python-version: ["pypy-3.11", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          brew install libjpeg little-cms2
          python3 -m pip install --prefer-binary pillow
          python3 -m pip install pytest packaging defusedxml
          python3 -m pip install --only-binary=:all: pi-heif

      - name: Test wheel
        run: |
          export TEST_DECODE_THREADS=0
          python3 .github/transform_to-pi_heif.py
          export PH_LIGHT_ACTION=1
          cd .. && python3 -m pytest pillow_heif

  manylinux-wheels:
    name: Ubuntu-Focal • ${{ matrix.python-version }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["pypy-3.11", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          sudo apt update && sudo apt install libjpeg-dev liblcms2-dev
          python3 -m pip install --prefer-binary pillow
          python3 -m pip install pytest packaging defusedxml
          python3 -m pip install --only-binary=:all: pi-heif

      - name: Test wheel
        run: |
          python3 .github/transform_to-pi_heif.py
          export PH_LIGHT_ACTION=1
          cd .. && python3 -m pytest pillow_heif

  macos-projects-together:
    name: macOS • Together • ${{ matrix.python-version }}
    runs-on: macos-15-intel
    strategy:
      matrix:
        python-version: ["pypy-3.11", "3.11"]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          brew install libjpeg little-cms2
          python3 -m pip install --prefer-binary pillow
          python3 -m pip install pytest packaging defusedxml
          python3 -m pip install --only-binary=:all: pillow-heif
          python3 -m pip install --only-binary=:all: pi-heif

      - name: Test wheels
        run: |
          export TEST_DECODE_THREADS=0
          export PH_FULL_ACTION=1
          cd .. && python3 -m pytest pillow_heif
          export PH_FULL_ACTION=0 && cd pillow_heif
          python3 .github/transform_to-pi_heif.py
          export PH_LIGHT_ACTION=1
          cd .. && python3 -m pytest pillow_heif

  linux-projects-together:
    name: Linux • Together • ${{ matrix.python-version }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["pypy-3.11", "3.11"]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          sudo apt update && sudo apt install libjpeg-dev liblcms2-dev
          python3 -m pip install --prefer-binary pillow
          python3 -m pip install pytest packaging defusedxml
          python3 -m pip install --only-binary=:all: pillow-heif
          python3 -m pip install --only-binary=:all: pi-heif

      - name: Test wheels
        run: |
          export PH_FULL_ACTION=1
          cd .. && python3 -m pytest pillow_heif
          export PH_FULL_ACTION=0 && cd pillow_heif
          python3 .github/transform_to-pi_heif.py
          export PH_LIGHT_ACTION=1
          cd .. && python3 -m pytest pillow_heif
