name: Wheels test

on:
  release:
    types: [ published ]

jobs:
  docker-tests:
    name: ${{ matrix.i['os'] }} • ${{ matrix.i['ver'] }} • ${{ matrix.i['arch'] }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        i: [
          { "os": "amazonlinux", "ver": "latest", "arch": "amd64" },
          { "os": "amazonlinux", "ver": "latest", "arch": "arm64" },
          { "os": "oraclelinux", "ver": "9", "arch": "amd64" },
          { "os": "oraclelinux", "ver": "9", "arch": "arm64" },
          { "os": "fedora", "ver": "37", "arch": "amd64" },
          { "os": "debian", "ver": "10", "arch": "amd64" },
          { "os": "debian", "ver": "10", "arch": "arm64" },
          { "os": "debian", "ver": "10", "arch": "arm/v7" },
          { "os": "debian", "ver": "11", "arch": "amd64" },
          { "os": "debian", "ver": "11", "arch": "arm64" },
          { "os": "alpine", "ver": "3.15", "arch": "amd64" },
          { "os": "alpine", "ver": "3.15", "arch": "arm64" },
          { "os": "alpine", "ver": "3.16", "arch": "amd64" },
          { "os": "alpine", "ver": "3.16", "arch": "arm64" },
          { "os": "alpine", "ver": "3.16", "arch": "arm/v7" },
        ]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Test type is Full
        if: matrix.i['arch'] != 'arm/v7'
        run: echo TEST_TYPE="export PH_FULL_ACTION=1" >> $GITHUB_ENV

      - name: Test type is Light
        if: matrix.i['arch'] == 'arm/v7'
        run: echo TEST_TYPE="export PH_LIGHT_ACTION=1" >> $GITHUB_ENV

      - name: Preparing debian
        if: matrix.i['os'] == 'debian' || matrix.i['os'] == 'ubuntu'
        run: |
          echo PREPARE_CMD="apt update" >> $GITHUB_ENV
          echo INSTALL_CMD="apt install -y \
            python3-minimal python3-distutils python3-pip python3-dev \
            zlib1g-dev libjpeg62-turbo-dev liblcms2-dev libwebp-dev libfribidi-dev libharfbuzz-dev" >> $GITHUB_ENV

      - name: Preparing musli
        if: matrix.i['os'] == 'alpine'
        run: echo INSTALL_CMD="apk add --no-cache python3 py3-pip py3-pillow py3-numpy" >> $GITHUB_ENV

      - name: Preparing centos
        if: matrix.i['os'] != 'debian' && matrix.i['os'] != 'ubuntu' && matrix.i['os'] != 'alpine'
        run: |
          echo PREPARE_CMD="yum makecache" >> $GITHUB_ENV
          echo INSTALL_CMD="yum install -y python3 python3-pip" >> $GITHUB_ENV

      - name: Build image & Run tests
        run: |
          docker buildx build \
            --platform linux/${{ matrix.i.arch }} \
            --build-arg BASE_IMAGE="${{ matrix.i['os'] }}:${{ matrix.i['ver'] }}" \
            --build-arg PREPARE_CMD="${{ env.PREPARE_CMD }}" \
            --build-arg INSTALL_CMD="${{ env.INSTALL_CMD }}" \
            --build-arg TEST_TYPE="${{ env.TEST_TYPE }}" \
            -f docker/test_wheels.Dockerfile .

  windows-wheels:
    name: Windows • 2019 • ${{ matrix.python-version }}
    runs-on: windows-2019
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    env:
      PH_FULL_ACTION: 1

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: Start-Sleep -s 480
        shell: powershell

      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          python3 -m pip install pytest pillow numpy pympler defusedxml opencv-python
          python3 -m pip install --only-binary=:all: pillow_heif

      - name: Test wheel
        run: cd .. && python3 -m pytest -rs pillow_heif

  macos-wheels:
    name: macOS • 11 • ${{ matrix.python-version }}
    runs-on: macos-11
    strategy:
      matrix:
        python-version: ["pypy-3.8", "pypy-3.9", "3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          brew install libjpeg little-cms2
          python3 -m pip install pytest pillow numpy pympler defusedxml
          python3 -m pip install --only-binary=:all: pillow_heif

      - name: Install OpenCV for CPython
        if: startsWith(matrix.python-version, '3.')
        run: python3 -m pip install opencv-python

      - name: Test wheel
        run: |
          export TEST_DECODE_THREADS=0
          export PH_FULL_ACTION=1
          cd .. && python3 -m pytest -rs pillow_heif

  manylinux-wheels:
    name: Ubuntu-Focal • ${{ matrix.python-version }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ["pypy-3.8", "pypy-3.9", "3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Delay, waiting Pypi to update.
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: sleep 480

      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Preparations
        run: |
          sudo apt update && sudo apt install libjpeg-dev liblcms2-dev
          python3 -m pip install pytest pillow numpy pympler defusedxml
          python3 -m pip install --only-binary=:all: pillow_heif

      - name: Install OpenCV for CPython
        if: startsWith(matrix.python-version, '3.')
        run: python3 -m pip install opencv-python

      - name: Test wheel
        run: |
          export PH_FULL_ACTION=1
          cd .. && python3 -m pytest -rs pillow_heif
