name: Wheels • Pi-Heif
# This action build `pi-heif` which is `pillow-heif` but without `aom` and `x265` libraries.

on:
  workflow_call:
  pull_request:
    paths:
      - '.github/workflows/wheels-pi_heif.yml'
      - 'setup.*'
      - 'libheif/build_libs.py'
      - 'pyproject.toml'

jobs:
  wheels_macos_arm:
    name: macosx • aarch64
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Transform to Pi-Heif
        run: |
          cp -r -v ./pi-heif/* .
          python3 .github/transform_to-pi_heif.py

      - name: Uninstall libheif from homebrew
        run: brew uninstall --force --ignore-dependencies imagemagick libheif x265 aom libde265

      - name: Install libheif
        run: sudo PH_LIGHT_ACTION=1 MACOSX_DEPLOYMENT_TARGET="11.0" python3 libheif/build_libs.py

      - name: Install dependencies for Pillow
        run: brew install libjpeg little-cms2

      - name: Run cibuildwheel
        run: |
          python3 -m pip install cibuildwheel==3.2.1
          python3 -m cibuildwheel
        env:
          CIBW_ARCHS: "arm64"
          CIBW_ENVIRONMENT_MACOS: PH_LIGHT_ACTION=1
          MACOSX_DEPLOYMENT_TARGET: "11.0"

      - name: Check built wheels
        run: |
          python3 -m pip install twine
          python3 -m twine check wheelhouse/*

      - name: Upload built wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels_pi_heif-macos-arm64
          path: wheelhouse/*.whl
          if-no-files-found: error

  wheels_windows:
    name: windows • x86_64
    runs-on: windows-2022
    env:
      MSYS2_PREFIX: "C:/temp/msys64/mingw64"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Transform to Pi-Heif
        run: |
          cp -r -v -force ./pi-heif/* .
          python3 .github/transform_to-pi_heif.py

      - uses: msys2/setup-msys2@v2
        with:
          location: C:/temp
          update: true
          install: >-
            patch
            mingw-w64-x86_64-binutils

      - name: Build libheif and dependencies
        shell: msys2 {0}
        run: |
            cd libheif/windows/mingw-w64-libheif
            makepkg-mingw --syncdeps --noconfirm -f
            pacman -U mingw-w64-x86_64-libheif-*-any.pkg.tar.zst --noconfirm

      - name: Remove DLL trailing data
        run: |
          ${{ env.MSYS2_PREFIX }}/bin/strip -s -v ${{ env.MSYS2_PREFIX }}/bin/libheif.dll
          ${{ env.MSYS2_PREFIX }}/bin/strip -s -v ${{ env.MSYS2_PREFIX }}/bin/libde265-0.dll
          ${{ env.MSYS2_PREFIX }}/bin/strip -s -v ${{ env.MSYS2_PREFIX }}/bin/libwinpthread-1.dll
          ${{ env.MSYS2_PREFIX }}/bin/strip -s -v ${{ env.MSYS2_PREFIX }}/bin/libgcc_s_seh-1.dll
          ${{ env.MSYS2_PREFIX }}/bin/strip -s -v ${{ env.MSYS2_PREFIX }}/bin/libstdc++-6.dll

      - name: Run cibuildwheel
        run: |
          python3 -m pip install cibuildwheel==3.2.1
          python3 -m cibuildwheel
        env:
          CIBW_ARCHS: "AMD64"
          CIBW_ENVIRONMENT_WINDOWS: PH_LIGHT_ACTION=1 TEST_DECODE_THREADS=0
          CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: "delvewheel repair -vv -w {dest_dir} {wheel} --add-path ${{ env.MSYS2_PREFIX }}/bin"

      - name: Checking built wheels
        run: |
          python3 -m pip install twine
          python3 -m twine check wheelhouse/*

      - name: Upload built wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels_pi_heif-windows-x86_64
          path: wheelhouse/*.whl
          if-no-files-found: error

  wheels_macos:
    name: macosx • x86_64
    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Transform to Pi-Heif
        run: |
          cp -r -v ./pi-heif/* .
          python3 .github/transform_to-pi_heif.py

      - name: Uninstall libheif from homebrew
        run: brew uninstall --force --ignore-dependencies imagemagick libheif x265 aom libde265 jpeg-turbo

      - name: Install libheif
        run: sudo PH_LIGHT_ACTION=1 MACOSX_DEPLOYMENT_TARGET="10.15" python3 libheif/build_libs.py

      - name: Install dependencies for Pillow
        run: brew install libjpeg little-cms2

      - name: Run cibuildwheel
        run: |
          python3 -m pip install cibuildwheel==3.2.1
          python3 -m cibuildwheel
        env:
          CIBW_ARCHS: "x86_64"
          CIBW_ENVIRONMENT_MACOS: PH_LIGHT_ACTION=1 TEST_DECODE_THREADS=0
          MACOSX_DEPLOYMENT_TARGET: "10.15"

      - name: Check built wheels
        run: |
          python3 -m pip install twine
          python3 -m twine check wheelhouse/*

      - name: Upload built wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels_pi_heif-macos-x86_64
          path: wheelhouse/*.whl
          if-no-files-found: error

  wheels_linux_amd64:
    strategy:
      fail-fast: true
      matrix:
        cibw_buildlinux: [ manylinux, musllinux ]
    name: ${{ matrix.cibw_buildlinux }} • AMD64
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - name: Transform to Pi-Heif
        run: |
          cp -r -v ./pi-heif/* .
          python3 .github/transform_to-pi_heif.py

      - name: musllinux preparations
        if: matrix.cibw_buildlinux == 'musllinux'
        run: echo INSTALL_OS_PACKAGES="apk update && apk --no-cache add $OS_PACKAGES" >> $GITHUB_ENV
        env:
          OS_PACKAGES: "fribidi-dev harfbuzz-dev jpeg-dev lcms2-dev openjpeg-dev"

      - name: Run cibuildwheel
        run: |
          python3 -m pip install cibuildwheel==3.2.1
          python3 -m cibuildwheel
        env:
          CIBW_ARCHS: "x86_64"
          CIBW_BEFORE_ALL_LINUX: |
            ${{ env.INSTALL_OS_PACKAGES }}
            python3 {package}/libheif/build_libs.py
          CIBW_ENVIRONMENT_LINUX: PH_LIGHT_ACTION=1

      - name: Checking built wheels
        run: |
          python3 -m pip install "twine>=6.1.0" "packaging>=24.2"
          python3 -m pip install twine
          python3 -m twine check wheelhouse/*

      - name: Uploading wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels_pi_heif-${{ matrix.cibw_buildlinux }}-amd64
          path: wheelhouse/*.whl
          if-no-files-found: error

  wheels_linux_arm64:
    strategy:
      fail-fast: true
      matrix:
        cibw_buildlinux: [ manylinux, musllinux ]
    name: ${{ matrix.cibw_buildlinux }} • ARM64
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v6
      - name: Transform to Pi-Heif
        run: |
          cp -r -v ./pi-heif/* .
          python3 .github/transform_to-pi_heif.py

      - name: musllinux preparations
        if: matrix.cibw_buildlinux == 'musllinux'
        run: echo INSTALL_OS_PACKAGES="apk update && apk --no-cache add $OS_PACKAGES" >> $GITHUB_ENV
        env:
          OS_PACKAGES: "fribidi-dev harfbuzz-dev jpeg-dev lcms2-dev openjpeg-dev"

      - name: Run cibuildwheel
        run: |
          python3 -m pip install cibuildwheel==3.2.1
          python3 -m cibuildwheel
        env:
          CIBW_ARCHS: "aarch64"
          CIBW_BEFORE_ALL_LINUX: |
            ${{ env.INSTALL_OS_PACKAGES }}
            python3 {package}/libheif/build_libs.py
          CIBW_ENVIRONMENT_LINUX: PH_LIGHT_ACTION=1

      - name: Checking built wheels
        run: |
          python3 -m pip install "twine>=6.1.0" "packaging>=24.2"
          python3 -m pip install twine
          python3 -m twine check wheelhouse/*

      - name: Uploading wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels_pi_heif-${{ matrix.cibw_buildlinux }}-arm64
          path: wheelhouse/*.whl
          if-no-files-found: error

  sdist:
    name: Source distribution
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Transform to Pi-Heif
        run: |
          cp -r -v ./pi-heif/* .
          python3 .github/transform_to-pi_heif.py

      - name: Install requirements
        run: python3 -m pip install twine wheel build

      - name: Uninstall libheif from homebrew
        run: brew uninstall --force --ignore-dependencies imagemagick libheif x265 aom libde265

      - name: Install libheif
        run: sudo PH_LIGHT_ACTION=1 python3 libheif/build_libs.py

      - name: Build sdist
        run: |
          python3 -m pip install pytest pillow numpy pympler defusedxml
          python3 -m build --sdist --outdir wheelhouse

      - name: Install and check sdist
        run: |
          python3 -m pip install --user wheelhouse/*.tar.gz
          python3 -m twine check wheelhouse/*

      - name: LibHeif info
        run: python3 -c "import pi_heif; print(pi_heif.libheif_info())"

      - name: Test sdist
        run: |
          export PH_LIGHT_ACTION=1 TEST_DECODE_THREADS=0
          python3 -m pytest

      - name: Upload sdist
        uses: actions/upload-artifact@v6
        with:
          name: wheels_pi_heif-sdist
          path: wheelhouse/*.tar.gz
